<div class="card">
  <div class="card-header">
    <h3 class="card-title">Email Management</h3>
    <div align="end">
      <button mat-raised-button class="btn btn-primary btn-sm" (click)="openDialog()">
        <i class="fas fa-plus"></i>
        Add new
      </button>
    </div>
  </div>
  <div class="card-body">
    <table id="dataTable" class="table table-bordered">
      <thead>
      <tr>
        <th>#</th>
        <th>Email</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let email of emails; let i = index">
        <td>{{ i + 1 }}</td>
        <td>{{ email.email }}</td>
        <td>
          <button class="btn btn-primary btn-sm" (click)="onEdit(i)">
            <i class="fas fa-edit"></i>
          </button>
          <button class="btn btn-danger btn-sm" (click)="onDelete(email._id)">
            <i class="fas fa-trash"></i>
          </button>
        </td>

      </tr>
      <!-- Add more rows as needed -->
      </tbody>
    </table>
  </div>
</div>
