.input-field {
  margin-bottom: 16px;
  margin-right: 12px;
}

.textarea-field {
  width: 100%;
  margin-bottom: 16px;
}

.full-width {
  width: 100%;
}

.err-text {
  color: red;
  ::ng-deep {
    .navigate {
      text-decoration: underline;
      font-weight: 600;
    }
  }
}
